<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    @*<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <link href="~/css/site.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CakesOrder</title>


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/CakesOrder.styles.css" asp-append-version="true" />



</head>
<body>


    <nav class="navbar navbar-expand-lg fixed-top navbar-light navbarr" style="background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);">
        <div class="container-fluid">
            <a class="navHead">Online Cakes Order</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <div class="mid_navbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="User" asp-action="Home">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link " asp-controller="User" asp-action="Items">ORDER_ONLINE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-controller="User" asp-action="Contact">CONTACT</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle menuLi" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                MENU
                            </a>
                            <ul class="dropdown-menu menuU" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-controller="User" asp-action="BreakFast_Lunch">BREAKFAST & LUNCH</a></li>
                                <li><a class="dropdown-item" asp-controller="User" asp-action="Drink">DRINKS</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-controller="User" asp-action="Items">CAKES</a></li>
                            </ul>
                        </li>


                    </ul>

                </div>
                <a class="login" asp-controller="User" asp-action="Signup"> SIGNUP | </a>
                <a class="login" asp-controller="User" asp-action="Login">LOGIN</a>

                <a class="login" asp-controller="Admin" asp-action="Index">LoginAsAdmin</a>
            </div>
        </div>
    </nav>

    <div class="containerMain">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

</body>
<!-- Footer -->
<footer class="page-footer bottom font-small pt-4 navbar-light bg-light" style="background: linear-gradient(135deg,#b0dae6,#ffd6c7 60%,#ffd6c7);">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3 ">

                <!-- Content -->
                <h5 class="text-uppercase">Online Cakes  </h5>
                <p>H#136 Usman ghani street alhamd colony Iqbal town lahore </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" style="color:black;">Online Order</a>
                    </li>
                    <li>
                        <a href="#!" style="color:black;">About</a>
                    <li>
                        <a href="#!" style="color:black;">Wedding and custom </a>
                    </li>
                    <li>
                        <a href="#!" style="color:black;">Contact</a>
                    </li>
                </ul>

            </div>

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <form>
                    <div>
                        <input type="text" class="form-control form-control-sm" placeholder="Your email"
                               aria-label="Your email" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-secondary btn-outline-white my-0" type="button">Join Now</button>
                    </div>
                </form>


            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="/"> SAC's.com</a>
    </div>
    <!-- Copyright -->
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</html>
