@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}@{
    ViewData["Title"] = "Cake detail " + Model.Category;
}

@model CakesShop.Models.ViewModels.CakeViewModel


<article class="sqs-pinterest-products-wrapper ProductItem hentry category-cake-chiffon tag-pumpkin tag-cream-cheese tag-salted-caramel tag-popcorn tag-cake author-jin-yang post-type-store-item products-collection-v2" data-item-id="630d1557379c5c39390c6002" id="yui_3_17_2_1_1662147530171_142">



    <section class="ProductItem-summary clear">



        <figure class="ProductItem-gallery">

            <div class="ProductItem-gallery-slides">


                <img src="@Model.Image"  width="400px" height="450px">


            </div>

            <div class="ProductItem-gallery-thumbnails">
            </div>
        </figure>

        <section class="ProductItem-details">
            <h1 class="ProductItem-details-title" data-content-field="title">@Model.Category</h1>






            <div class="product-price">
              @Model.Price

            </div>

            <div class="ProductItem-details-excerpt" data-content-field="excerpt"><p class=""><span style="color:#6180A2"><strong>Caramel Popcorn Pumpkin</strong></span></p><p class=""><span style="color: rgb(34, 34, 34)">3 layers of moist pumpkin cake in between layers of cream cheese and salted caramel popcorn makes a great treat to celebrate the Fall season!</span></p><p class="">Size Chart<br>6" / 8 servings<br>8” / 14 servings</p></div>







            <div class="product-variants" data-item-id="630d1557379c5c39390c6002" data-variants="[{&quot;attributes&quot;:{&quot;size&quot;:&quot;6\&quot;&quot;},&quot;optionValues&quot;:[{&quot;optionName&quot;:&quot;size&quot;,&quot;value&quot;:&quot;6\&quot;&quot;}],&quot;id&quot;:&quot;bbe19303-52d0-45db-9bbc-0a41d1c27305&quot;,&quot;sku&quot;:&quot;SQ1523475&quot;,&quot;price&quot;:4500,&quot;salePrice&quot;:0,&quot;priceMoney&quot;:{&quot;currency&quot;:&quot;USD&quot;,&quot;value&quot;:&quot;45.00&quot;},&quot;salePriceMoney&quot;:{&quot;currency&quot;:&quot;USD&quot;,&quot;value&quot;:&quot;0.00&quot;},&quot;onSale&quot;:false,&quot;unlimited&quot;:true,&quot;qtyInStock&quot;:0,&quot;width&quot;:0.0,&quot;height&quot;:0.0,&quot;weight&quot;:0.0,&quot;imageIds&quot;:[],&quot;images&quot;:[],&quot;len&quot;:0.0},{&quot;attributes&quot;:{&quot;size&quot;:&quot;8\&quot;&quot;},&quot;optionValues&quot;:[{&quot;optionName&quot;:&quot;size&quot;,&quot;value&quot;:&quot;8\&quot;&quot;}],&quot;id&quot;:&quot;027c04d8-75fe-4c1d-a340-629d4eb6c7be&quot;,&quot;sku&quot;:&quot;SQ5612504&quot;,&quot;price&quot;:5800,&quot;salePrice&quot;:0,&quot;priceMoney&quot;:{&quot;currency&quot;:&quot;USD&quot;,&quot;value&quot;:&quot;58.00&quot;},&quot;salePriceMoney&quot;:{&quot;currency&quot;:&quot;USD&quot;,&quot;value&quot;:&quot;0.00&quot;},&quot;onSale&quot;:false,&quot;unlimited&quot;:true,&quot;qtyInStock&quot;:0,&quot;width&quot;:0.0,&quot;height&quot;:0.0,&quot;weight&quot;:0.0,&quot;imageIds&quot;:[],&quot;images&quot;:[],&quot;len&quot;:0.0}]" data-animation-role="content" data-unselected-options="[&quot;size&quot;]">
                <div class="variant-option" id="yui_3_17_2_1_1662147530171_154">
                    <div class="variant-option-title">size: </div>
                    <div class="variant-select-wrapper" data-text="Select size">
                        <select aria-label="Select size" data-variant-option-name="size" id="yui_3_17_2_1_1662147530171_157">
                            <option value="">Select size</option>
                            <option value="6&quot;">6"</option>
                            <option value="8&quot;">8"</option>
                        </select>
                    </div>
                    <div class="variant-radiobtn-wrapper" data-variant-option-name="size">
                        <input type="radio" class="variant-radiobtn" value="6&quot;" name="variant-option-size" id="variant-option-size-6&quot;">
                        <label for="variant-option-size-6&quot;">6"</label>
                        <input type="radio" class="variant-radiobtn" value="8&quot;" name="variant-option-size" id="variant-option-size-8&quot;">
                        <label for="variant-option-size-8&quot;">8"</label>
                    </div>
                </div>
            </div>

           <div class="product-quantity-input" data-item-id="630d1557379c5c39390c6002" data-animation-role="content">
                <div class="quantity-label">Quantity:</div>
                <input aria-label="Quantity" size="4" max="9999" min="1" value="1" type="number" step="1">
            </div>

            <div class="sqs-add-to-cart-button-wrapper" data-animation-role="button" style="visibility: visible;">
                <div class="sqs-add-to-cart-button sqs-suppress-edit-mode sqs-button-element--primary use-form" role="button" tabindex="0" data-dynamic-strings="" data-collection-id="59b885daa8b2b0e31fce8d2e" data-item-id="630d1557379c5c39390c6002" data-product-type="3" data-use-custom-label="false" data-original-label="Add To Cart" data-form="{&quot;id&quot;:&quot;5aee2a668a922d5e605e7446&quot;,&quot;name&quot;:&quot;Product Order&quot;,&quot;fields&quot;:[&quot;{\&quot;type\&quot;:\&quot;text\&quot;,\&quot;id\&quot;:\&quot;text-yui_3_17_2_1_1525556792824_85196\&quot;,\&quot;locked\&quot;:false,\&quot;title\&quot;:\&quot;Pickup Date:\&quot;,\&quot;description\&quot;:\&quot;Please allow us at least 3 days to process and prepare your order freshly. Any order within that time frame can be cancelled without a notice. Please call store for immediate availability. (949) 786-0223. \&quot;,\&quot;placeholder\&quot;:\&quot;\&quot;,\&quot;required\&quot;:true,\&quot;text\&quot;:true}&quot;,&quot;{\&quot;type\&quot;:\&quot;select\&quot;,\&quot;id\&quot;:\&quot;select-yui_3_17_2_1_1525556792824_83670\&quot;,\&quot;locked\&quot;:false,\&quot;title\&quot;:\&quot;Pickup Time:\&quot;,\&quot;description\&quot;:\&quot;\&quot;,\&quot;options\&quot;:[\&quot;Morning (Open – 11AM)\&quot;,\&quot;Lunch Time (11AM – 2PM)\&quot;,\&quot;Afternoon (2PM – Close)\&quot;],\&quot;required\&quot;:true,\&quot;select\&quot;:true}&quot;],&quot;parsedFields&quot;:[],&quot;submitButtonText&quot;:&quot;Submit&quot;,&quot;submissionMessage&quot;:&quot;{\&quot;html\&quot;:\&quot;Thank you!\&quot;}&quot;,&quot;disclaimerMessage&quot;:&quot;null&quot;,&quot;successRedirect&quot;:&quot;&quot;,&quot;captchaEnabled&quot;:false,&quot;captchaTheme&quot;:1,&quot;captchaAlignment&quot;:1}" id="yui_3_17_2_1_1662147530171_122">
                    <div class="sqs-add-to-cart-button-inner">Add To Cart</div>
                </div>
            </div>


        </section>

    </section>







</article>
