
<script src="~/js/site.js"></script>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
 Category:
<input id="txtCustomerName" type="text" />
<button type="submit" id="SearchBtn">search</button>
<br />
<br />
<table id="tblCustomers" cellpadding="0" cellspacing="0">
    <tr>
        <th style="width: 90px">category</th>
        <th style="width: 120px">price</th>
    </tr>
</table>